<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
    <!-- 【mybatis的核心配置文件】 -->

    <!-- 批量设置别名(可以不配) 作用：就是在mapper.xml文件中直接写类名，也可以不用写全路径名。 -->
    <!--<typeAliases>-->
        <!--<package name="cn.e3mall.manager.po" />-->
    <!--</typeAliases>-->

    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>
</configuration>