<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>platform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="/js/jquery.min.js" ></script>
    <script type="text/javascript" src="/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="/js/bootstrap-table.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-table.css" rel="stylesheet" />
</head>
<body>

<section class="content-header">
    <h1>用户管理</h1>
</section>
<section class="content table-content">
    <form class="form-inline" >
        <!-- 工具栏 -->
        <div id="toolbar">
            <input type="button" value="新增用户" id="addBtn" data-toggle="modal" data-target="#addUserModal" class="btn btn-primary"/>
            <input type="button" value="新增行" id="addrows" data-toggle="modal" data-target="#addrows" class="btn btn-primary"/>
        </div>
        <!-- bootstrapTable -->
    </form>
    <table id="dataGrid" class="table table-striped"></table>
</section>

<!-- 新增用户的模态框，在修改用户中将获取一行的值放入input中，改变一些参数继续使用 -->

<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>新增用户</h3>
            </div>
            <div class="modal-body">
                <form id="addUserForm" action="/user/addUser" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label for="inputAccount" class="col-sm-2 control-label">账户</label>
                        <div class="col-sm-7">
                            <input type="account" name="account" class="form-control" id="inputAccount"/>
                        </div>
                        <label id="errorAccount" for="inputAccount" class="col-sm-3 control-label"></label>
                    </div>
                    <div class="form-group" >
                        <label for="inputPassword" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-7">
                            <input type="text" name="password" class="form-control" id="inputPassword"/>
                        </div>
                        <label id="errorPassword" for="inputPassword" class="col-sm-3 control-label"></label>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-7">
                            <input type="name" name="name" class="col-sm-4 form-control" id="inputName"/>
                        </div>
                        <label id="errorName" for="inputName" class="col-sm-3 control-label"></label>
                    </div>
                    <div class="form-group">
                        <label for="inputSex" class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-7">
                            <input type="sex" name="sex" class="col-sm-4 form-control" id="inputSex" />
                        </div>
                        <label id="errorSex" for="inputSex" class="col-sm-3 control-label"></label>
                    </div>
                    <div class="form-group">
                        <label for="inputPhone" class="col-sm-2 control-label">手机</label>
                        <div class="col-sm-7">
                            <input type="phone" name="phone" class="col-sm-4 form-control" id="inputPhone" />
                        </div>
                        <label id="errorPhone" for="inputPhone" class="col-sm-3 control-label"></label>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-7">
                            <input type="email" name="email" class="col-sm-4 form-control" id="inputEmail"/>
                        </div>
                        <label id="errorEmail" for="inputEmail" class="col-sm-3 control-label"></label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="conf" class="btn btn-default" onclick="addUser()">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetAddModal()">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Tip" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>提示</h3>
            </div>
            <div class="modal-body" align="center">
                <h4 id="tipContent">新增成功</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改用户的模态框 -->

</body>

<script type="text/javascript">
    $(function() {
        //初始加载
        initDataGrid();
    });
    function initDataGrid() {
        //创建bootstrapTable
        $("#dataGrid").bootstrapTable({
            method:"POST",
            //极为重要，缺失无法执行queryParams，传递page参数
            contentType : "application/x-www-form-urlencoded",
            dataType:"json",
            url:'/user/pageInfo',
            queryParams:queryParam,
            pagination:true,//显示分页条：页码，条数等
            striped:true,//隔行变色
            cache:false,
            editable:true,
            pageNumber:1,//首页页码
            pageSize:100,//分页，页面数据条数
            pageList: [10, 25, 50, 100],
            uniqueId:"id",//Indicate an unique identifier for each row
            sidePagination:"server",//在服务器分页
            height:580,
            toolbar:"#toolbar",//工具栏
            showRefresh : true,//刷新
            columns : [{
                checkbox:"true",
                field : "box"
            },  {
                title : "ID",
                field : "id",
                visible: false
            }, {
                title : "账户",
                field : "account"
            }, {
                title : "密码",
                field : "password"
            }, {
                title : "姓名",
                field : "name"
            }, {
                title : "性别",
                field : "sex"
            }, {
                title : "手机",
                field : "phone",
                edit:{type:'text'}
            }, {
                title : "邮箱",
                field : "email",
                edit:{type:'text'}
            }, {
                title : "状态",
                field : "states"
            }, {
                title : "创建时间",
                field : "created_at",
                sortable : true
            }]
        });
    }
    function queryParam(params){
        var param = {
            limit : this.limit, // 页面大小
            offset : this.offset, // 页码
            pageNumber : this.pageNumber,
            pageSize : this.pageSize
        };
        return param;
    }

    //点击取消后清空表单中已写信息
    function resetAddModal(){
        document.getElementById("addUserForm").reset();
    }
    //新增用户
    function addUser(){
        var param = $("#addUserForm").serializeArray();
//        debugger;
        $("#conf").attr("onclick","addUser()");
        $.ajax({
            url:"/user/addUser",
            method:"post",
            data:param,
            dataType:"json",
            success:function(data){
                if(data.state=="success"){
                    document.getElementById("tipContent").innerText="新增成功";
                    $("#Tip").modal('show');
                    $("#addUserModal").modal('hide');
                    $("#dataGrid").bootstrapTable('refresh');
                }
            },
            error:function(){
                document.getElementById("tipContent").innerText="新增失败";
                $("#addEnd").modal('show');
            }
        });
    }

    //修改用户

</script>

</html>