<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="/js/jquery.min.js" ></script>
    <script type="text/javascript" src="/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table-edit.js"/>
    <script type="text/javascript" src="/js/user.js"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-table.css" rel="stylesheet" />

</head>
<body>
<div class="my_table_bar">
    <div class="col-xs-10 bar_title">
        <p align="center">
            <strong>用户管理</strong>
        </p>
    </div>
    <div class="col-xs-2 bar_option">
        <a class="insert" href="javascript:addRow(2);" title="新增行">
            <!--<i class="glyphicon glyphicon-plus" id="editTable_add_kjcg"></i>-->
            新增
        </a>

    </div>
</div>
<table id="reportTable2" class="table table-bordered table-hover"></table>
</body>
<script type="text/javascript">

    function loadEditTable(pid){
        //重置table内数据
//        $('#reportTable1').bootstrapTable('destroy');//这里必须要添加这个销毁，否则新增、修改、查看的切换可编辑列表中的数据可能加载出现问题。
        $('#reportTable2').bootstrapTable('destroy');
        $('#reportTable2').bootstrapTable({
            method: 'POST',
            url:'/user/pageInfo',
            striped: true,
            pagination: true,
            pageSize: 10,
            sidePagination:'server',
            pageList: [10, 20, 50, 100, 200, 500],
            queryParamsType: 'limit',

            editable:true,//开启编辑模式
            clickToSelect: true,
            cache : false,
            columns: [{checkbox:"true",field : "box"},
                {title : "ID",field : "id", visible: false},
                {field:"account",title:"账户",align:"center",edit:{type:'text'}},
                {field:"password",title:"密码",align:"center",edit:{type:'text'}},
                {field:"name",title:"姓名",align:"center",edit:{type:'text'}},
                {field:"sex",title:"性别",align:"center",edit:{type:'text'}},
                {field:"phone",title:"手机",align:"center",edit:{type:'text'}},
                {field:"email",title:"邮箱",align:"center",edit:{type:'text'}},
                {field:"states",title:"状态",align:"center",edit:{type:'text'}},
                {field:"created_at",title:"授权时间",align:"center",edit:{type:'text'}},
                {field:"operate",title:"操作",align:"center",formatter : operateFormatter2,edit:false}
            ],
            onEditableSave: function (field, row, oldValue, $el) {
                $table = $('#reportTable2').bootstrapTable({});
                $table.bootstrapTable('updateRow', {index: row.rowId, row: row});
            }
        });
    }

    $('#reportTable1','#reportTable2').on( 'click', 'td:has(.editable)', function (e) {
        //e.preventDefault();
        e.stopPropagation(); // 阻止事件的冒泡行为
        $(this).find('.editable').editable('show'); // 打开被点击单元格的编辑状态
    } );

    //可编辑列表新增一行
    function addRow(mark){
        var rows = [];
        //通过mark来判断为哪个可编辑框创建新一行
         if(mark == 2){
            $('#reportTable2').bootstrapTable('append',rows);
        }

    }
    //删除指定行
    function removeRow(deleteIndex,mark){
         if(mark == "2"){
            $('#reportTable2').bootstrapTable('removeRow', deleteIndex);
        }
    }
</script>
</html>